BASE_URL=api.capim.club
DATABASE_URL=
DEFAULT_SESSION_DURATION_IN_SECONDS=259200
HEALTH_CHECK_ENDPOINT=/healthz
LOCAL=yes
ORIGIN=
PORT=2099
REDIS_CONNECTION_STRING=redis://localhost:6380
SESSION_SECRET="It is a secret! Don't ask don't tell"
